<div class="notepad-container">
    <div class="notepad__search">
        <form autocomplete="off">
            <div class="finder">
                <div class="finder__outer">
                    <div class="finder__inner">
                        <div class="finder__icon" ref="icon"></div>
                        <input class="finder__input" type="text" name="q" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="notepad__cards">
        <div class="card-container" (click)="onCardClicked()">
            <div class="card__date">
                <h1 class="card__date__day">{{noteDetails.day}}</h1>
                <p class="card__date__month">{{noteDetails.month}}</p>
            </div>
            <div class="card__content">
                <h3 class="card__title">{{noteDetails.title}}</h3>
                <p class="card__body">{{noteDetails.body| truncate : 110 : true }}</p>
            </div>
            <div class="card__item__option delete js-option">
                <span class="material-icons">
                delete
                </span>
            </div>
        </div>
    </div>
    <div class="add__note" (click)="onAddNoteClicked()">
        <span class="material-icons">
            add
            </span>
        <h4>New note</h4>
    </div>
</div>