<div class="notepad-container">
    <div class="notepad__search">
        <div class="form" autocomplete="off">
            <div class="finder">
                <div class="finder__outer">
                    <div class="finder__inner">
                        <div class="finder__icon" ref="icon"></div>
                        <input class="finder__input" type="text" name="q" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="notepad__cards">
        <div class="cards-box">
            <div class="card-container" *ngFor="let noteDetails of notepadListArray; let index = index">
                <div class="card__container__box" (click)="onCardClicked()">
                    <div class="card__date">
                        <h1 class="card__date__day">{{noteDetails.day}}</h1>
                        <p class="card__date__month">{{noteDetails.month}}</p>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">{{noteDetails.title}}</h3>
                        <p class="card__body" [class.truncate]="noteDetails.body.split(' ').length==1?true: false">{{noteDetails.body| truncate : 110}}</p>
                    </div>
                </div>
                <div class="card__item__option delete js-option" (click)="onDeleteNote(index)">
                    <span class="material-icons">
                    delete
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="add__note" (click)="onAddNoteClicked()">
        <span class="material-icons">
            add
            </span>
        <h4>New note</h4>
    </div>
</div>