.notepad-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    height: 100%;
}

.notepad__search {
    text-align: center;
    color: #2c3e50;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
}

form {
    transition: all 0.5s;
    position: absolute;
}

.finder {
    border: 1px solid #fff;
    background-color: #f6f5f0;
    border-radius: 15px;
    padding: 4px;
    width: 600px;
    box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.finder__outer {
    display: flex;
    //width: 600px;
    padding: 0.5rem 1rem;
    // padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #ffffff;
}

.finder__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
}

.finder__form {
    flex: 1;
    height: calc(100% + 3rem);
}

.finder__input {
    height: calc(100% + 3rem);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    width: 100%;
}

.finder__icon {
    width: 45px;
    height: 40px;
    margin-right: 1rem;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;
    &:after,
    &:before {
        display: block;
        content: "";
        position: absolute;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &:after {
        width: 10px;
        height: 10px;
        background-color: #292929;
        border: 3px solid #f6f5f0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        left: 0px;
        right: 0;
        margin: auto;
        border-radius: 50%;
        @at-root .active & {
            border-width: 10px;
            background-color: #f6f5f0;
        }
    }
    &:before {
        width: 4px;
        height: 13px;
        background-color: #f6f5f0;
        top: 50%;
        left: 20px;
        transform: rotateZ(45deg) translate(-50%, 0);
        transform-origin: 0 0;
        border-radius: 4px;
        @at-root .active & {
            background-color: #292929;
            width: 6px;
            transform: rotateZ(45deg) translate(-50%, 25px);
        }
    }
    @at-root .processing & {
        transform-origin: 50%;
        animation: spinner 0.3s linear infinite;
        animation-delay: 0.5s;
    }
    @at-root .active & {
        transform: translateY(-5px);
    }
}

@keyframes spinner {
    0% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(405deg);
    }
}

.notepad__cards {
    /* flex: 1; */
    /* margin-top: 1rem; */
    max-width: 635px;
    overflow-y: auto;
    height: 76vh;
}


/********CARDS************************/

.card-container {
    border: 1px transparent;
    display: flex;
    // width: 460px;
    max-width: 600px;
    padding: 10px;
    cursor: pointer;
    // background-color: #eaeaea02;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    margin: 8px;
    &:hover {
        transform: scale(1.02);
    }
    .card__date {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
        padding: 5px 10px;
        margin-right: 15px;
        border-radius: 15px;
        // background-color: #eeeeee;
    }
    .card__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 8px 10px;
        border-radius: 15px;
        // background-color: #f6f5f0;
        // background-color: #eeeeee;
    }
    .card__body {
        flex-grow: 1;
    }
}