<div class="notepad-container">
    <div class="notepad__search">
        <form autocomplete="off">
            <div class="finder">
                <div class="finder__outer">
                    <div class="finder__inner">
                        <div class="finder__icon" ref="icon"></div>
                        <input class="finder__input" type="text" name="q" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="notepad__cards">
        <p>Cards</p>
    </div>
</div>