@import '../../styles.scss';
.addnote-container {
    max-width: 600px;
    margin: auto;
    height: 95%;
    background-color: rgb(252, 252, 252);
    box-shadow: $boxShadow;
    border-radius: 8px;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-box {
    @include flex();
    // height: 100%;
    .form__fields {
        @include flex();
        border: 1px solid;
        .form__title,
        .form__body {
            width: 90%;
        }
    }
}