<div class="addnote-container">
    <h2>Create Note</h2>
    <form [formGroup]="addNoteForm" (ngSubmit)="onSubmit()" class="form-box">
        <div class="form__fields">
            <mat-form-field class="form__title">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title goes here...." value="Sushi" formControlName="title">
                <mat-error *ngIf="addNoteForm.get('title').hasError('required')">
                    Title is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form__body">
                <mat-label>Enter Note</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." formControlName="body" class="text"></textarea>
                <mat-error *ngIf="addNoteForm.get('body').hasError('required')">
                    Note is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form__buttons">
            <button mat-raised-button color="warn" (click)="onCancel()">cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="addNoteForm.invalid">Submit</button>
        </div>
    </form>
</div>