<form class="add-note-form">
    <mat-form-field class="add-note-form__title">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" value="Sushi">
    </mat-form-field>
    <!--*ngIf="emailFormControl.hasError('required')"-->
    <mat-error *ngIf="addNoteForm.hasError('required')">
        Title is <strong>required</strong>
    </mat-error>
    <mat-form-field class="add-note-form__body">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        <mat-error *ngIf="addNoteForm.hasError('required')">
            Title is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="add-note-form__buttons">
        <button mat-button color="warn">cancel</button>
        <button mat-raised-button color="primary">Submit</button>
    </div>
</form>