@import '../../styles.scss';
.addnote-container {
    max-width: 600px;
    margin: auto;
    height: 95%;
    background-color: rgb(252, 252, 252);
    box-shadow: $boxShadow;
    border-radius: 8px;
}