@import '../../styles.scss';
.addnote-container {
    max-width: 600px;
    margin: auto;
    height: 95%;
    background-color: rgb(252, 252, 252);
    box-shadow: $boxShadow;
    border-radius: 8px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid;
    // height: 100%;
    .form__fields {}
}