/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');

/*********variables************/

@import url('./styles/_variables.scss');
html,
body {
    height: 100%;
    // overflow: auto;
    font-family: 'Poppins', sans-serif;
    background-color: $backgroundColor;
}

* {
    margin: 0px;
    padding: 0px;
}