/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');

/***** Angular Material color theme**************/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*********variables************/

@import 'styles/variables.scss';
html,
body {
    height: 100%;
    // overflow: auto;
    font-family: 'Poppins', sans-serif;
    background-color: $backgroundColor;
}

* {
    margin: 0px;
    padding: 0px;
}


/* scrollbar width */

::-webkit-scrollbar {
    width: 7px;
}


/* scrollbar Track */

::-webkit-scrollbar-track {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}


/* scrollbar Handle */

::-webkit-scrollbar-thumb {
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(255, 123, 74, 1) 44%, rgba(255, 67, 91, 1) 84%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 123, 74, 1) 44%, rgba(255, 67, 91, 1) 84%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}